<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head class="headerAPI">
    <link rel="shortcut icon" href="icon/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <title>Calculadora</title>
</head>
<header class="headerAPI">
    <table align="center" cellpadding="3px" cellspacing="2px">
        <tbody>
        <form class="form-control" method="post" action="" >
           <tr>
               <th>Usuario:
                   <input class="form-control" id="login" name="login" for="login" />
               </th>
            <th>Senha:
                <input type="password" class="form-control" align="left"  id="senha" name="senha" for="senha"/>
            </th>
        </form>
        </tr>
        </tbody>
    </table>
</header>
<body  style="background-color: #6c757d">
<div class="container text-white" align="center">
<form name="formNumero"  id="numero" method="post">
    <label for="numero1">Digite um número:</label>
    <input class="form-control w-25 align-baseline"  id="numero1" name="numbero1" for="numero"/>
    <label for="numero2">Digite o segundo número:</label>
    <input class="form-control w-25 align-baseline"  id="numero2" name="numero2" for="numero"/>
    <input class="btn btn-dark" onclick="calcularSoma()" type="button" value="Enviar" name="btnEnviar"/>
</form>
    <p id="resultado_text"></p>
</div>
<script type="text/javascript">
    function calcularSoma() {
        $.ajax({
            headers: {login: document.getElementById('login').value,
            senha:  document.getElementById('senha').value},
            method: "POST",
            contentType: "application/json",
            url: "/fazerSomaDeDoisNumeros/",
            data: JSON.stringify({"numero1": document.getElementById('numero1').value,
                "numero2": document.getElementById('numero2').value}),
            error: function (results) {
                alert("Erro inesperado no sistema.");
                $('#resultado_text').html(results);
            },
            success: function(results) {
               $('#resultado_text').html(results);
            }
        })
    }
</script>
</body>
</html>